:root {
    --mouse-x: 100;
    --mouse-y: 100;
}
body {
    padding: 0;
    margin: 0;
}
.facade {
    padding-top:1%;
    padding-left:10%;
    padding-right:10%;
    margin:0;
    background: radial-gradient(
            circle at var(--mouse-x) var(--mouse-y),
            rgb(100, 0, 0) 0%,
            rgb(100,50,50) 50%,
            rgb(100, 0, 0) 200%
    );
    height:100em;
    clip-path: url("#circle-mask");
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: 1;
}
.real-site {
    padding-top:1%;
    padding-left:10%;
    padding-right:10%;
    margin:0;
    background: radial-gradient(
            circle at var(--mouse-x) var(--mouse-y),
            rgb(0, 0, 0) 0%,
            rgb(100,100,100) 50%,
            rgb(100, 0, 0) 200%
    );
    height:100em;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: -1;
}
.content {
    background: rgba(70,30,30,0.8);
    padding-left:10%;
    padding-right:10%;
    margin-top:10%;
    padding-bottom:5%;
    border: rgb(80, 40, 40) 0.2em solid;
    border-radius: 1em;
    display:flex;
    flex-direction: column;
    font-family: "JetBrains Mono";
    color: rgb(255, 41, 41)
}

.content.secondary {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -3%;
    padding-bottom:1%;
}
.content.code {
    background: rgb(70,50,50);
    border-color: rgb(80,60,60);
    color: rgb(255, 187, 187);
    filter: blur(5px);
    overflow-wrap: anywhere;
    transition: 0.1s;
}
.content.code:hover {
    filter: blur(0px);
    transition: 0.2s;
}
.content.real {
    background: rgba(50,50,50,0.5);
    border: rgb(80, 80, 80) 0.2em solid;
    color: rgb(255, 41, 41)
}
.header {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.pfp {
    background-image: url("files/Faceplate Round.png");
    background-size: cover;
    width:256px;
    height:256px;

}
.pfp.real {
    background-image: url("files/Normal Round.png");
}
.pfp:hover {
    background-size: cover;
    width:300px;
    height:300px;
    rotate:-1turn;
    transition: 0.5s ease-in-out
}
.pfp.real:hover {
    background-size: cover;
    width:300px;
    height:300px;
    rotate:-1turn;
    transition: 0.5s ease-in-out
}
.right-box {
    margin-left:50%;
    width:min-content;
    text-wrap: pretty;
}
.left-box {
    width:min-content;
    text-wrap: pretty;
}

h1 {
    text-wrap: nowrap;
}
.one-line {
    text-wrap: nowrap;
}